/* General styles */
.highlight {
  background-color: #f8f8f8;
}

.highlight table {
  border-collapse: collapse; /* 添加边框合并规则，防止表格出现双重边框 */
}

.highlight table td,
.highlight table pre {
  padding: 5px;
  margin: 0;
}

/* Comment styles */
.highlight .c, .highlight .cm, .highlight .cp, .highlight .c1, .highlight .cs, .highlight .c*, .highlight .ch, .highlight .cd, .highlight .cpf {
  color: #999988;
  font-style: italic;
}

/* Error & Highlighting styles */
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}
.highlight .gd, .highlight .ge {
  color: #000000;
}
.highlight .gd {
  background-color: #ffdddd;
}
.highlight .ge {
  font-style: italic;
}

/* Keyword styles */
.highlight .k, .highlight .kc, .highlight .kd, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kt {
  color: #000000;
  font-weight: bold;
}

/* Literal & Number styles */
.highlight .mf, .highlight .mh, .highlight .il, .highlight .mi, .highlight .mo, .highlight .m, .highlight .mb, .highlight .mx {
  color: #009999;
}

/* String styles */
.highlight .s, .highlight .sa, .highlight .dl, .highlight .s1, .highlight .s2, .highlight .sc, .highlight .sd, .highlight .sh, .highlight .si, .highlight .sx, .highlight .s* {
  color: #d14;
}

/* Other specific styles */
.highlight .na {
  color: #008080;
}
.highlight .bp {
  color: #999999;
}
.highlight .nb {
  color: #0086B3;
}
.highlight .nc {
  color: #445588;
  font-weight: bold;
}
.highlight .no {
  color: #008080;
}
.highlight .nd {
  color: #3c5d5d;
  font-weight: bold;
}
.highlight .ni {
  color: #800080;
}
.highlight .ne, .highlight .nf, .highlight .fm, .highlight .nl {
  color: #990000;
  font-weight: bold;
}
.highlight .nt {
  color: #000080;
}
.highlight .vc, .highlight .vg, .highlight .vi, .highlight .nv, .highlight .vm {
  color: #008080;
}
.highlight .ow {
  color: #000000;
  font-weight: bold;
}

/* Special case for line highlighting */
.highlight .sr {
  color: #009926;
}