/* 通用设置 */
.highlight {
  background-color: #f8f8f8;
}

/* 表格内间距 */
.highlight table td { 
  padding: 1px; 
}
.highlight table pre { 
  margin: 0; 
}

/* 关键字 */
.highlight .k, .highlight .kv, .highlight .kc, .highlight .kd, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kt {
  color: #000000;
  font-weight: bold;
}

/* 数字与方法 */
.highlight .mf, .highlight .mh, .highlight .il, .highlight .mi, .highlight .mo {
  color: #009999;
}

/* 字符串与注释 */
.highlight .s, .highlight .sa, .highlight .dl, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .se, .highlight .sh, .highlight .si, .highlight .sx, .highlight .s1, .highlight .ss {
  color: #d14;
}

/* 其他类型 */
.highlight .err { /* 错误 */
  color: #a61717;
  background-color: #e3d2d2;
}
.highlight .gd { /* 编译错误 */
  color: #000000;
  background-color: #ffdddd;
}
.highlight .gi { /* 编译正确 */
  color: #000000;
  background-color: #ddffdd;
}
/* ... 其它更多详细类型 ... */

/* 特殊类型 */
.highlight .na { /* 名称空间或类型名 */
  color: #008080;
}
.highlight .bp { /* 布尔值或其他预定义类型 */
  color: #999999;
}
.highlight .nb { /* 布尔或数字常量 */
  color: #0086B3;
}
.highlight .nc { /* 类名 */
  color: #445588;
  font-weight: bold;
}
/* ... 其它更多特殊类型 ... */